<h2>Computers</h2>

<div class="create">
    <button type="button" class="btn btn-info col-sm-2 col-sm-offset-10 add-computer" ng-click="createComputer()">Create a new computer</button>
</div>

<div>
    <table class="table table-striped">
        <tr>
            <th>Computer Manufacturer</th>
            <th>Computer Make</th>
            <th>Purchase Date</th>
            <th></th>
        </tr>
        <tr ng-repeat="computer in computers">
            <td>{{computer.ComputerManufacturer}}</td>
            <td>{{computer.ComputerMake}}</td>
            <td>{{computer.PurchaseDate}}</td>
            <td><button class="btn btn-danger" ng-click="deleteComputer(computer.ComputerId)">Delete</button></td>
        </tr>
    </table>
</div>