
<h2>Edit An Employee</h2>
<div class="container">
    <div>
        <form>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" ng-model="employeeDetail.FirstName" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" ng-model="employeeDetail.LastName" placeholder="Last Name">
            </div>
            <div>
                <label for="exampleInputFile">Department</label>
                <select ng-model="employeeDetail.DepartmentId">
                    <option ng-selected="employeeDetail.DepartmentId == department.DepartmentId" ng-repeat="department in departments" ng-value="department.DepartmentId">{{department.DepartmentName}}</option>
                </select>
            </div>
            <div>
                <label for="exampleInputFile">Computer</label>
                <select ng-model="employeeDetail.ComputerId">
                    <option ng-selected="employeeDetail.ComputerId == computer.ComputerId" ng-repeat="computer in unassignedComputers" ng-value="computer.ComputerId">{{computer.ComputerManufacturer}} {{computer.ComputerMake}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default" ng-click="editEmployee(employeeDetail)">Submit</button>
        </form>
    </div>
</div>
