<h2>Current Employees</h2>

<div>
    <div>
        <button type="button" class="btn btn-primary" ng-click="AddNewEmployee()">Add New Employee</button>
    </div>

    <table class="table table-striped">
        <tr>
            <th>Employee Name</th>
            <th>Department</th>
        </tr>
        <tr ng-repeat="employee in employees | orderBy: 'EmployeeName'">
            <td><a ng-click="employeeDetails(employee.EmployeeId)" >{{employee.EmployeeName}}</a></td>
            <td>{{employee.DepartmentName}}</td>
        </tr>
    </table>
</div>

