<h1>Selected Employee:</h1>

<div id="empldeetscontainer">
    <div class="empDetailTable col-md-6">
        <table class="table table-condensed ">
            <tr>
                <th scope="row">Name:</th>
                <td>{{employee.FirstName}} {{employee.LastName}}</td>
            </tr>

            <tr>
                <th scope="row">Department:</th>
                <td>{{employee.DepartmentName}} </td>
            </tr>

            <tr>
                <th scope="row">Computer Make:</th>
                <td>{{employee.ComputerMake}} </td>
            </tr>
        </table>

        <ul>
            <p id="heading">Trainings:</p>
            <li ng-repeat="i in employee.TrainingName">{{i}} </li>
        </ul>
        <button class="btn btn-primary" ng-click="employeeEdit(employee.EmployeeId)">Edit Employee</button>
    </div>
 </div>


