<h2>Add A New Employee</h2>
<div class="container">
    <div >
        <form>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" ng-model="newEmployee.FirstName" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" ng-model="newEmployee.LastName" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">Hire Date</label>
                <input type="date" id="hireDate">
            </div>
            <div>
                <select ng-model="newEmployee.DepartmentId">
                    <option ng-repeat="department in departments" value="{{department.DepartmentId}}">{{department.DepartmentName}}</option>
                  
                </select>
            </div>
            <button type="submit" class="btn btn-default" ng-click="submitNewEmployee(newEmployee)">Submit</button>
        </form>
    </div>
</div>
