<h2>{{message}}</h2>

<div>
    <div>
        <strong>Name:</strong> {{training.TrainingName}}
    </div>
    <div>
        <strong>Start Day:</strong> {{training.StartDay}}
    </div>
    <div>
        <strong>End Day:</strong> {{training.EndDay}}
    </div>
    <div>
        <strong>Max Attendees:</strong> {{training.MaxAttendees}}
    </div>
    <div>
        <strong>Start Day:</strong> {{training.StartDay}}
    </div>
    <div>
        <strong>Details:</strong> {{training.Details}}
    </div>
    <div class="row">
        <div class="col-md-2">
            <strong>Employees Attending:</strong>
        </div>
        <div ng-repeat="employee in employees" class="col-md-2">
            {{employee.FirstName}} {{employee.LastName}}
        </div>
    </div>
</div>

<div>
    <button class="btn btn-success" ng-click="editTrainingProgram(training.TrainingId)">Edit</button>
</div>