<div>
    <h1>Training Programs</h1>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Start Day</th>
                <th scope="col">End Day</th>
            </tr>
        </thead>
        <tr ng-repeat="training in trainings">
            <td>{{training.TrainingName}}</td>
            <td>{{training.StartDay}}</td>
            <td>{{training.EndDay}}</td>
            <td><button class="btn btn-primary btn-sm" ng-click="viewTrainingDetails(training.TrainingId)">View Details</button></td>
            <td><button class="btn btn-danger btn-sm" ng-click="deleteTraining()">Delete</button></td>
        </tr>
    </table>
    <div><button class="btn btn-success" ng-click="createTraining(training.TrainingId)">Create</button></div>
</div>